body{
    font-family: 'Roboto', sans-serif;
}

.card-text, .precio{
    font-weight: 300;
    color: #707070;
}

::placeholder{
    color: ● #707070;
    font-weight: 300;
}

.card-title{
    color: #212529;
    font-weight: 500;
}

.direcciones{
    font-size: 80%;
    padding: 0;
}